.variant_1 {
    border-bottom: 1px solid grey;

    .caption {
       text-align: center; 
    }    

    &:last-child {
        border: none;
    }

    figure {
        max-width: 75%;
        margin: auto;
        margin-bottom: 1rem;

    }    

    @media screen and (min-width:768px) {
        figure {
            max-width: 100%;
        }
        .caption{
            text-align: left;
        }
        &:nth-child(even) {
            figure {
                order: 2;
            }
    
            .caption {
                text-align: right;
            }
        } 
    }
}