.variant_2 {
    border-bottom: 1px solid grey;
    
    .caption {
       text-align: center; 
    }    

    &:last-child {
        border: none;
    }

    figure {
        max-width: 75%;
        margin: auto;
        margin-bottom: 1rem;

    }    

    @media screen and (min-width:768px) {
        figure {
            max-width: 100%;
        }        
    }
}